<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<h1>Buy Sell</h1>
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Curabitur nisi. Aenean imperdiet. Pellentesque posuere. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Fusce ac felis sit amet ligula pharetra condimentum.
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="/#!/signup">Sign Up</a>
			</p>
		</div>
	</div>
	<div>
		<h2>Praesent nonummy mi in odio. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis.</h2>
		<p>Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Pellentesque dapibus hendrerit tortor. Vestibulum fringilla pede sit amet augue. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus.</p>
		<ul>
			<li>
				Phasellus a est.
			</li>
			<li>
				Praesent egestas tristique nibh.
			</li>
			<li>
				Phasellus a est.
			</li>
			<li>
				Praesent egestas tristique nibh.
			</li>
			<li>
				Praesent egestas tristique nibh.
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				Praesent nec nisl a purus blandit viverra.
			</h2>
			<p>Ut id nisl quis enim dignissim sagittis. Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla eleifend augue, ac auctor orci leo non est. Phasellus a est.</p>
		</div>
		<div class="col-md-3">
			<h2>
				Praesent nec nisl a purus blandit viverra.
			</h2>
			<p>Ut id nisl quis enim dignissim sagittis. Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla eleifend augue, ac auctor orci leo non est. Phasellus a est.</p>
		</div>
		<div class="col-md-3">
			<h2>
				Praesent nec nisl a purus blandit viverra.
			</h2>
			<p>Ut id nisl quis enim dignissim sagittis. Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla eleifend augue, ac auctor orci leo non est. Phasellus a est.</p>
		</div>
		<div class="col-md-3">
			<h2>
				Praesent nec nisl a purus blandit viverra.
			</h2>
			<p>Ut id nisl quis enim dignissim sagittis. Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla eleifend augue, ac auctor orci leo non est. Phasellus a est.</p>
		</div>				
	</div>
	<div class="well">
		<h2>Phasellus nec sem in justo pellentesque facilisis.</h2>
		<p>
			Morbi vestibulum volutpat enim. Curabitur at lacus ac velit ornare lobortis. Etiam iaculis nunc ac metus. In auctor lobortis lacus:
			<ul>
				<li>Nullam sagittis.</li>
				<li>Nullam sagittis.</li>
				<li>Nullam sagittis.</li>
			</ul>
		</p>
	</div>
</section>